name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Make extension
      run: |
        ./make-firefox.sh
    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: spamfreesearch.zip
        path: spamfreesearch.zip
    - name: Upload to Mozilla Add-ons
      run: |
        gh_version="1.0.$GITHUB_RUN_ID"
        jwt=""
        echo "Uploading version ${version}"
        curl "https://addons.mozilla.org/api/v5/addons/spam-free-search/versions/${gh_version}/"
        -g -XPUT --form "upload=spamfreesearch.zip"
        -H "Authorization: JWT ${jwt}"
